<%= form_for(@pothole) do |f| %>
  <% if @pothole.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pothole.errors.count, "error") %> prohibited this pothole from being saved:</h2>

      <ul>
      <% @pothole.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
