<!DOCTYPE html>
<html>
<head>
  <title>Potholes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a href="#" class="navbar-brand">Potholes</a>
  </div>

  <div class="navbar-collapse collapse pull-right">
    <li class="dropdown">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">boom</a></li>
        <li><a href="#">boom</a></li>
        <li><a href="#">boom</a></li>
        <li><a href="#">boom</a></li>
      </ul>      
    </li>

  </div>
</nav>
</div>
<%= yield %>

</body>
</html>
